.content {
    display:flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
}

.left{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.left h1 {
    margin-bottom: 0;
}

.left .hometext {
    color: var(--cement-white);
    display: flex;
    flex-direction: row;

    font-weight: 200;
    font-size: clamp(1rem, 1.4vw, 2rem);

    margin-left: 10px;
    margin-bottom: 100px;
}

.left svg {
    height: 8.5vw;
    min-height: 110px;
}

.left .hometext span {
    padding-top: 15px;
}

.left .hometext span p {
    margin: 0;
}

.left .hometext span p:last-child {
    margin-top: 20px;
    width: 200px;
}

.right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.right .rightIMG {
    margin-top: 150px;
    position: relative;
}

.right .rightIMG img {
    width: clamp(17rem, 30vw, 30rem);
}

/* Rama img */

.rightIMG::before {
    content: "";
    display: block;
    width: 10vw;
    height: 10vw;
    position: absolute;
    bottom: -1vw;
    left: -1vw;
    border-bottom: 0.8px solid var(--cement-white); 
    border-left: 0.8px solid var(--cement-white); 
}

.rightIMG::after {
    content: "";
    display: block;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: -1vw;
    right: -1vw;
    border-top: 0.8px solid var(--cement-white); 
    border-right: 0.8px solid var(--cement-white); 
}


@media screen and (min-width: 650px)
{
    .content {
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .left {
        flex: 1;
        padding-left: 12vw;
        align-items: flex-start
    }

    .right {
        padding-right: 12vw;
    }

    .right .rightIMG {
        margin-top: 100px;
    }
}