@import url(constants.css);

#calendar td{
	color: var(--cement-white);
	height: 5em;


}
table{
	border-spacing: 0;
}
#calendar h2{
	border-bottom: 2px solid var(--cement-white);
	width: 60%;
	text-align: center;
}
#calendar{
	padding-left: 30%;
	padding-bottom: 30%;
	
}
.leftc{
	border-bottom: 1px solid var(--cement-white);
	text-align: center;
	width: 10em;
	font-weight: 800;

}
.rightc{
	border-bottom: 1px solid var(--cement-white);
	border-left: 1px solid var(--cement-white);
	text-align: left;
	padding-left: 10%;
}
.last{
	border-bottom: 0px;
}
@media (max-width: 768px){
	#calendar{
		padding-left: 7%;
		padding-right: 7%;
	}
	#calendar h2{
		margin-left: 20%;
		width: 70%;
	}
}