:root {
    --darkgrey: #141414;
    --gold: #F8C401;
    --cement-white: #E8E8E8;
    --footer-background: #02060F;
}

/*
    PENTRU FONTUL SEGOE UI 

    Black: 
        font-weight: 800;

    Normal:
        font-weight: 400;

    Light:
        font-weight: 200;
*/