@import url("constants.css");

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    overflow-x: hidden;
    overflow: overlay;
}

body {
    background-color: var(--darkgrey);
}

h1 {
    font-weight: 800;
    color: var(--gold);
    font-size: clamp(3rem, 6vw, 6rem);
    text-align: center;
}

h2 {
    font-weight: 800;
    color: var(--gold);
    font-size: clamp(3rem, 4vw, 5rem);
}

h3 {
  font-weight: 200;
  color: var(--cement-white);
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h4 {
    font-weight: 800;
    color: var(--gold);
    font-size: 2rem;
}

.container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============ SCROLLBAR ============ */

  /* width */
  ::-webkit-scrollbar {
    width: 5px
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--gold);
    border-radius: 20px;
    width: 5px!important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .ScrollBarTop::-webkit-scrollbar-thumb {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  
  .ScrollBarBot::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  